Instâncias/
__pycache__/
old_solution.py
Atividades/
Resultados à tabelar/
Arquivos de teste/
resultados.xlsx
resultadosn4.xlsx
resultadosn2.xlsx
resultados3n4.xlsx
trash_functions.py
funções_em_desuso.py